<div class="title-container padding-tb1">
    <h3> <%= undefined===locals.developer ? '' : locals.message %></h3>
    <h3> <%= developer.name %> </h3>
    <a href="/games/developer_update/<%= developer._id %>"><button>Update developer</button></a>
    <a href="/games/developer_delete/<%= developer._id %>"><button>Delete developer</button></a>
</div>
<h4> Games list</h4>
<div class="content-container dark-box">
    <% for (let x = 0; x < games.length; x++) { %>
        <a href='<%= games[x].url %>' class="game">
            <img src='<%=games[x].picture%>' alt='<%= games[x].name %>'/>
            <p>$<%= games[x].price %></p>
            <h3><%= games[x].title %></h3>
        </a>
    <% } %>
</div>