<h3> <%= developer.name %> </h3>
<h4> Games list</h4>
<% for (const game in games) { %>
    <p><%= games[game].title %></p>
    <p><%= games[game].esrb %></p>
    <p>Release: <%= games[game].date %></p>
    <p><%= games[game].price %></p>

<% } %>
<a href="/games/developer_update/<%= developer._id %>">Update developer</a>
<a href="/games/developer_delete/<%= developer._id %>">Delete developer</a>