
<img src="<%=game.picture %>" alt="<%= game.title %>" width="300" />
<h3> <%= game.title %> </h3>
<p> <%= game.developer.name %></p>
<% for (const x in game.genre) { %>
    <span>
        <%=game.genre[x].name%>
        <% if (x < game.genre.length-1) { %>
            ,
            <% } %> 
    </span>

<% } %>
<p><%= game.esrb %></p>
<p>Release: <%= game.date %></p>
<p><%= game.price %></p>

<a href="/games/game_update/<%= game._id %>">Update game</a>
<a href="/games/game_delete/<%= game._id %>">Delete a game</a>