<h2>Games list</h2>
<% games %>
<% for (let x = 0; x < games.length; x++) { %>
    <h3><%= games[x].title %> </h3>
    <p>Developer: <%= games[x].developer.name %></p>
    <!-- Genre is an array, therefore have to put genre[0] for the first result-->
    <p>Genre: <%= games[x].genre[0].name %> </p> 
    <p>Release: <%= games[x].release %> </p> 
    <p>Price: $<%= games[x].price %> </p> 

<% } %>

<p>isthisworking</p>