
<h3> <%= game.title %> </h3>
<p> <%= game.developer.name %></p>
<p><%= game.genre[0].name %></p>
<p><%= game.release %></p>
<p><%= game.price %></p>

<a href="/games/game_update/<%= game._id %>">Update game</a>
<a href="/games/game_delete/<%= game._id %>">Delete a game</a>