
<div class="game-detail">
    <div class="detail-img"><img src="<%=game.picture %>" alt="<%= game.title %>"/></div>
    <div class="detail-container">
        <h3> <%= game.title %> </h3>
        
        <div>
            <p> <%= game.developer.name %></p>
            <% for (const x in game.genre) { %>
                <span>
                    <%=game.genre[x].name%>
                    <% if (x < game.genre.length-1) { %>
                        ,
                        <% } %>
                </span>
            
            <% } %>
            <p><%= game.esrb %></p>
            <p>Release: <%= game.date %></p>
            <p><%= game.price %></p>
            
        </div>

        <div>
            <a href="/games/game_update/<%= game._id %>"><button>Update game</button></a>
            <a href="/games/game_delete/<%= game._id %>"><button>Delete game</button></a>
        </div>
    </div>
</div>