<div class="title-container">
    <h2>Games list</h2>
    <a href="/games/game_form/create"><button>+ Add new game</button></a>
</div>
<div class="games-container">
    <% for (let x = 0; x < games.length; x++) { %>
        <a href='<%= games[x].url %>' class="game">
            <img src='<%=games[x].picture%>' alt='<%= games[x].name %>'/>
            <p>$<%= games[x].price %></p>
            <h3><%= games[x].title %></h3>
        </a>
    <% } %>
</div>