<h3> <%= undefined===locals.genre ? '' : locals.message %></h3>
<div class="title-container padding-tb1">
    <h3> <%= genre.name %> </h3>
    <p> <%= genre.description %></p>
    <div class="padding-tb1">
        <a href="/games/genre_update/<%= genre._id %>"><button>Update genre</button></a>
        <a href="/games/genre_delete/<%= genre._id %>"><button>Delete genre</button></a>
    </div>
</div>
<h4>Games list</h4>
<div class="content-container dark-box">
    <% for (let x = 0; x < games.length; x++) { %>
        <a href='<%= games[x].url %>' class="game">
            <img src='<%=games[x].picture%>' alt='<%= games[x].name %>'/>
            <p>$<%= games[x].price %></p>
            <h3><%= games[x].title %></h3>
        </a>
    <% } %>
</div>
